# Importar librerÃ­as

In [152]:
import pandas as pd
import numpy as np

In [153]:
df = pd.read_csv('Archivos/CollegeScorecard.csv')

/home/ext4ur/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3398: DtypeWarning: Columns (7,9,1427,1542,1561,1575) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [154]:
null_columns = []
for column in df.columns:
    
    if df[column].isnull().all():
        
        null_columns.append(column)
        
df.drop(columns=null_columns, inplace=True)

In [155]:
#print(df.columns.to_list())

borrar = ['UNITID', 'OPEID', 'opeid6', 'INSTURL', 'NPCURL', 'LATITUDE', 'LONGITUDE', 'ADM_RATE_ALL',
          'SATVR25', 'SATVR75', 'SATMT25', 'SATMT75', 'SATWR25', 'SATWR75',
          'ACTCM25', 'ACTCM75', 'ACTEN25', 'ACTEN75', 'ACTMT25', 'ACTMT75', 'ACTWR25', 'ACTWR75',
          'NPT41_PROG', 'NPT42_PROG', 'NPT43_PROG', 'NPT44_PROG', 'NPT45_PROG',
          'NPT41_OTHER', 'NPT42_OTHER', 'NPT43_OTHER', 'NPT44_OTHER', 'NPT45_OTHER',
          'NPT4_048_PUB', 'NPT4_048_PRIV', 'NPT4_048_PROG', 'NPT4_048_OTHER',
          'NPT4_3075_PUB', 'NPT4_3075_PRIV', 'NPT4_75UP_PUB', 'NPT4_75UP_PRIV',
          'NPT4_3075_PROG', 'NPT4_3075_OTHER', 'NPT4_75UP_PROG', 'NPT4_75UP_OTHER',
          'SAT_AVG_ALL', 'NUM4_PROG', 'NUM4_OTHER'
          'STABBR', # Duplicada por st_fips
          'locale2' # Todo nulo
          ]

convertir = ['MENONLY', 'WOMENONLY', # -> Columna ___ 0 mixto, 1 menonly, 2 womenonly
             'NPT4_PUB', 'NPT4_PRIV', # -> Columna ___ Average Net Price
             'NUM4_PUB', 'NUM4_PRIV', # -> Columna ___ Number of title 4 students
             'NPT41_PUB', 'NPT41_PRIV', # -> Columna ___ Average net price for $0-$30,000 family income
             'NPT42_PUB', 'NPT42_PRIV', # -> Columna ___ Average net price for $30,001-$48,000 family income
             'NPT43_PUB', 'NPT43_PRIV', # -> Columna ___ Average net price for $48,001-$75,000 family income
             'NPT44_PUB', 'NPT44_PRIV', # -> Columna ___ Average net price for $75,001-$110,000 family income
             'NPT45_PUB', 'NPT45_PRIV', # -> Columna ___ Average net price for $110,000+ family income
             'NUM41_PUB', 'NUM41_PRIV', # Columna -> Number of Title IV students, $0-$30,000 family income
             'NUM42_PUB', 'NUM42_PRIV', # Columna -> Number of Title IV students, $30,001-$48,000 family income
             'NUM43_PUB', 'NUM43_PRIV', # Columna -> Number of Title IV students, $48,001-$75,000 family income
             'NUM44_PUB', 'NUM44_PRIV', # Columna -> Number of Title IV students, $75,001-$110,000 family income
             'NUM45_PUB', 'NUM45_PRIV', # Columna -> Number of Title IV students, $110,000+ family income
             ]

df.drop(columns=borrar, errors='ignore', inplace=True)

print(len(df.columns))

522

In [156]:
for i in range(0, len(convertir), 2):
    
    print(convertir[i], df[convertir[i]].loc[~df[convertir[i+1]].isna()].drop_duplicates().to_list(), end=' || ')
    print(convertir[i+1], df[convertir[i+1]].loc[~df[convertir[i]].isna()].drop_duplicates().to_list())

MENONLY [0.0, 1.0] || WOMENONLY [0.0, 1.0]
NPT4_PUB [nan] || NPT4_PRIV [nan]
NUM4_PUB [nan] || NUM4_PRIV [nan]
NPT41_PUB [nan] || NPT41_PRIV [nan]
NPT42_PUB [nan] || NPT42_PRIV [nan]
NPT43_PUB [nan] || NPT43_PRIV [nan]
NPT44_PUB [nan] || NPT44_PRIV [nan]
NPT45_PUB [nan] || NPT45_PRIV [nan]
NUM41_PUB [nan] || NUM41_PRIV [nan]
NUM42_PUB [nan] || NUM42_PRIV [nan]
NUM43_PUB [nan] || NUM43_PRIV [nan]
NUM44_PUB [nan] || NUM44_PRIV [nan]
NUM45_PUB [nan] || NUM45_PRIV [nan]

In [157]:
df[convertir] = df[convertir].fillna(0)

df.loc[df['MENONLY'].eq(1), 'type'] = 1
df.loc[df['WOMENONLY'].eq(1), 'type'] = 2
df['type'] = df['type'].fillna(0)

df['NPT4'] = df['NPT4_PUB'] + df['NPT4_PRIV']
df['NUM4'] = df['NUM4_PUB'] + df['NUM4_PRIV']
df['NPT41'] = df['NPT41_PUB'] + df['NPT41_PRIV']
df['NPT42'] = df['NPT42_PUB'] + df['NPT42_PRIV']
df['NPT43'] = df['NPT43_PUB'] + df['NPT43_PRIV']
df['NPT44'] = df['NPT44_PUB'] + df['NPT44_PRIV']
df['NPT45'] = df['NPT45_PUB'] + df['NPT45_PRIV']
df['NUM41'] = df['NUM41_PUB'] + df['NUM41_PRIV']
df['NUM42'] = df['NUM42_PUB'] + df['NUM42_PRIV']
df['NUM43'] = df['NUM43_PUB'] + df['NUM43_PRIV']
df['NUM44'] = df['NUM44_PUB'] + df['NUM44_PRIV']
df['NUM45'] = df['NUM45_PUB'] + df['NUM45_PRIV']

df.drop(columns=convertir, errors='ignore', inplace=True)

In [159]:
datos = []
lot_null_columns = []
for column in df.columns:
    
    total = df[column].isna().sum()
    
    if total >= 1000:
        
        lot_null_columns.append(column)
        
        if total >= 7000:
            datos.append({'column': column, 'total': total, 'group': 7000})
        elif total >= 6000:
            datos.append({'column': column, 'total': total, 'group': 6000})
        elif total >= 5000:
            datos.append({'column': column, 'total': total, 'group': 5000})
        elif total >= 4000:
            datos.append({'column': column, 'total': total, 'group': 4000})
        elif total >= 3000:
            datos.append({'column': column, 'total': total, 'group': 3000})
        elif total >= 2000:
            datos.append({'column': column, 'total': total, 'group': 2000})
        elif total >= 1000:
            datos.append({'column': column, 'total': total, 'group': 1000})
            
df.drop(columns=lot_null_columns, inplace=True)

In [160]:
print(df.columns)

Index(['INSTNM', 'CITY', 'STABBR', 'ZIP', 'HCM2', 'main', 'NUMBRANCH',
       'PREDDEG', 'HIGHDEG', 'CONTROL',
       ...
       'NPT41', 'NPT42', 'NPT43', 'NPT44', 'NPT45', 'NUM41', 'NUM42', 'NUM43',
       'NUM44', 'NUM45'],
      dtype='object', length=377)

In [161]:
df.to_csv('Archivos/data.csv', index=False)